<html>
    
        <header class="header ab">
            <nav class="navbar navbar-expand sm bg-primary navbar-dark">
                <ul class="navbar-nav">
                    <li class="navbar-item">
            
                        <a routerLink="employees" routerLinkActive="active" class="nav-link">Employee Details</a>
            
                    </li>
                    <li class="navbar-nav">
                        <a routerLink="create-employee" routerLinkActive="active" class="nav-link">Add Employee</a>
                    </li>
                </ul>
            
            </nav>
        </header>
       
    
    <body>
        <h1 class="text-center"></h1>
        
        <div class="container">
           <router-outlet></router-outlet>
        </div>
        </body>
        <footer class="footer">
            <div class="continer">
                <span class="fw-bolder">Copyrights Undu..</span>
            </div>
        </footer>
</html>




